body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('img/master-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: #171a21 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #171a21 !important;
    border: 2px solid #ffce0c;
    border-radius: 15px;
    width: 1200px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer p {
    text-align: center;
    color: #ffce0c;
}

.navbar {
    background-color: #171a21 !important;
    color: #ffce0c !important;
    border: 2px solid #ffce0c;
    padding: 10px;
    border-radius: 25px;
}

.jumbotron {
    background-image: url('img/gaben-jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border: 1px solid;
    padding: 10px;
    margin-top: 30px;
}

.col-md-6.review-right {
    background-color: gray;
    color: #ffce0c;
    text-align: center;
    border: 2px solid #ffce0c;
    border-radius: 50px 20px;
    height: 165px;
}

.col-md-6.category-left {
    background-color: gray;
    color: #ffce0c;
    text-align: center;
    grid-area: auto;
    border: 2px solid #ffce0c;
    border-radius: 50px 20px;
    height: 165px;
}

/*Button Swag */
.swagButton a {
    text-decoration: none !important;
}

.swagButton {
    font-family: Pristina;
    font-weight: 100;
    font-size: 25px;
    color: #171a21;
    border: solid 2px #ffce0c;
    border-radius: 50px;
    padding: 1px 5px;
    background-color: #ffce0c;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.swagButton:hover {
    background-color: #171a21;
    color: #ffce0c;
}

/* Banner for the Review Index */
.col-md-12.review-header {
    background-color: gray;
    color: #ffce0c;
    text-align: center;
    grid-area: auto;
    border: 2px solid #ffce0c;
    border-radius: 50px 20px;
    height: 300px;
    margin-bottom: 20px;
}

.col-md-12.review-header ul {
    list-style-type: none;
}

.col-md-8.displayRight {
    padding-top: 30px;
    text-align: left;
    font-size: 15px;
    color: #000;
}

.col-md-4.displayLeft {
    padding-top: 20px;
    
}

.col-md-4.displayLeft img{
    padding-top: 15px;
    width: 350px;
}

/* Star Rating */
.fas.fa-star.checked {
    color: orange;
}

/* Details Start */
#myCarousel {
    background-color: #171a21;
    border: 2px solid #ffce0c;
}

#myCarousel img {
    width: 100%;
    height: 450px;
}

.col-md-12.lower {
    background-color: gray;
    color: #ffce0c;
    text-align: center;
    border: 2px solid #ffce0c;
    border-radius: 50px 20px;
    margin-top: 25px;
}

.col-md-12.lower ul {
    list-style-type: none;
}

.col-md-3.detailLeft {
    padding-top: 20px;
    text-align: right;
}

.col-md-9.detailRight {
    padding-top: 20px;
    text-align: left;
    font-size: 15px;
    color: #000;
    text-align: left;
}

.buttonDescription {
    padding-bottom: 10px;
}

.swagger a {
    text-decoration: none !important;
    color: #171a21;
}

.swagger {
    font-family: Pristina;
    font-weight: 100;
    font-size: 25px;
    color: #171a21 !important;
    border: solid 2px #ffce0c;
    border-radius: 50px;
    padding: 1px 5px;
    background-color: #ffce0c;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.swagger:hover {
    background-color: #171a21;
    color: #ffce0c;
}

.swagger:hover a {
    background-color: #171a21;
    color: #ffce0c;
    border-radius: 50px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}