@{
    ViewBag.Title = "Home Page";
}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<div class="jumbotron">
    <h1>Welcome to PC Master Race!</h1>
    <h2 class="lead">We review only PC games from every publisher. <br />
    From FPS to Simulation type games, we review it all. </h2>
   
</div>

<div class="row">
    <div class="col-md-6 category-left">
        <h2>Categories</h2>
        <p>
            Please pick from the many game categories we review.
        </p>
        <a href="~/Categories/Index" type="btn" class="btn swagButton">Click here</i></a>
    </div>
    <div class="col-md-6 review-right">
        <h2>Reviews</h2>
        <p>View the many great game reviews!</p>
        <a href="~/Reviews/Index" type="btn" class="btn swagButton">Click Here</a>
    </div>
</div>