@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to PC Master Race!</h1>
    <p class="lead">We review only PC games from every publisher. From FPS to Simulation type games, we review it all. </p>
   
</div>

<div class="row">
    <div class="col-md-6 category-left">
        <h2>Categories</h2>
        <p>
            Please pick from the many game categories we review.
        </p>
        <a href="~/Categories/Create" type="btn" class="btn swagButton">Click Here</a>
    </div>
    <div class="col-md-6 review-right">
        <h2>Reviews</h2>
        <p>We review a number of different games.</p>
        <a href="~/Reviews/Create" type="btn" class="btn swagButton">Click Here</a>
    </div>
</div>